@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) { 

    body {
        background-image: linear-gradient(#599df7b6, #ecca5ad0);
    }
    
    section#login {
        width: 60vw;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 335px ;

        position: relative;
        top: -0px;

        border-radius: 10px 0px 0px 10px;

        transition: width .3s, heigth 1s;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        border-radius: 0px 10px 10px 0px;
        
    }

    p {
        text-indent: 8px;
        
    }

    #iemail, #isenha {
        width: 245px;
    }

    
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(#599df7b6, #ecca5ad0);
    }


    section#login {
        width: 60vw;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 335px;

        position: relative;
        top: -0px;

        border-radius: 10px 0px 0px 10px
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        font-size: 1.1em;

        border-radius: 0px 10px 10px 0px;
        text-indent: 4px;
        
    }

    #iemail, #isenha {
        transform: translateY(-11px);
        width: 310px;
    }
    
}